@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Noto Sans JP',
        sans-serif;
    font-size: 62.5%;
}



div[class$="wrapper"] {
    max-width: 1170px;
    margin: auto;

    line-height: 0;
    -webkit-column-count: 5;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;


    @media (max-width: 1200px) {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

// IMAGES

.img-responsive {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    /* to match column gap */
}


// Image container

.photohub-content {
    padding: 6rem 0;

    &__image {
        position: relative;

        figcaption {

            .cite {
                position: absolute;
                bottom: 3.5rem;
                left: 2rem;
                display: flex;
                align-items: center;

                &__rounded {
                    border-radius:50%;
                    margin-right: 1rem;
                }

                &__title {
                    // LINK
                     color: #fff;
                     text-decoration: none;
                     font-size: 1rem;
                }
            }

          
        }
    }
}