@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP',
        sans-serif;
    font-size: 1.5rem;
}



div[class$="wrapper"] {
    max-width: 1320px;
    margin: auto;

    line-height: 0;
    -webkit-column-count: 5;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;


    @media (max-width: 1200px) {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


.button-light {
    border: 1px solid #eee;
    background: #eee;
    padding: 1.2em !important;
    display: inline-block;
    margin-right: 1.5rem;
    border-radius: .5rem;
}

// IMAGES

.img-responsive {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    /* to match column gap */
}



// Navigation 

.navigation {
    background-color: #fff;

    &__enter {
        display: flex;
        flex: 0 0 30%;

        &--logo {
            margin-right: 4.5rem;
        }

    }


    &__menu {
        li {
            display: inline-block;
            padding: 0 1.35rem;
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6.4rem;
    }

    &__search {
        margin-right: 3rem;
        flex: 1;

        input {
            width: 100%;
            border: 1px solid #d1d1d1;
            background: #eee;
            padding: 1em 2em;
            border-radius: 8rem;
        }
    }


    &__user-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        width: 100%;

        a {
            text-decoration: none;
            padding: 0 1.5rem;
        }


        i {
            font-size: 2rem;
        }
    }


    a {
        color: #767676;
    }
}


// Image container

.photohub-content {
    padding: 6rem 0;

    &__image {
        position: relative;

        figcaption {

            .cite {
                position: absolute;
                bottom: 3.5rem;
                left: 2rem;
                display: flex;
                align-items: center;

                &__rounded {
                    border-radius: 50%;
                    margin-right: 1rem;
                }

                &__title {
                    // LINK
                    color: #fff;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }


        }
    }
}