@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP',
        sans-serif;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



div[class$="wrapper"] {
    max-width: 1170px;
    margin: auto;

    line-height: 0;
    -webkit-column-count: 5;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;


    @media (max-width: 1200px) {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


.button-light {
    border: 1px solid #eee;
    background: #fff;
    padding: 1.2em !important;
    display: inline-block;
    margin-right: 1.5rem;
    border-radius: .5rem;
}


// input

.photohub-input {
    &:focus {
        outline: none;
        background: #eee;
    }
}

// IMAGES

.img-responsive {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    /* to match column gap */
}



// Navigation 

.navigation {
    background-color: #fff;

    &__enter {
        display: flex;
        flex: 0 0 40%;
        align-items: center;

        &--logo {
            margin-right: 4.5rem;
        }

    }


    &__menu {
        li {
            display: inline-block;
            padding: 0 1.35rem;
            list-style: none;

            a {
                text-decoration: none;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6.4rem;
    }

    &__search {
        margin-right: 3rem;
        flex: 1;

        input {
            width: 100%;
            border: 1px solid #d1d1d1;
            background: #eee;
            padding: 1em 2em;
            border-radius: 8rem;
        }
    }


    &__user-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        width: 100%;

        a {
            text-decoration: none;
            padding: 0 1.5rem;
        }


        i {
            font-size: 2rem;
            color: goldenrod;
        }
    }


    a {
        color: #767676;
    }
}


// Search Field
.output-card {
    // margin-top: 2rem;
    &__inner {
        background-color: #fff;
        min-width: 18rem;
        z-index: 999;
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 3rem 1.5rem;
        position: absolute;
        left: 63%;
        transform: translateX(-63%);
        right: 3rem;
        max-width: 494px;
    }

    .search-results {
        display: block;
        line-height: 2.5rem;
    }
}


// Showcase banner
.showcase-banner {
    position: relative;
    height: 75vh;
    background-size: cover !important;

    &__cite {
        position: absolute;
        bottom: 1.5rem;
        left: 11.5%;

        a {
            color: #fff;
        }
    }
}



// Topics 

.topics {
    padding: 2.5rem 3em;
    text-align: center;
    box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .07);

    li {
        display: inline-block;
        padding: 0 2rem;

    }

    a {
        color: #767676;
    }
}

// Image container

.photohub-content {
    padding: 6rem 0;

    &__image {
        position: relative;

        figcaption {

            .cite {
                position: absolute;
                bottom: 3.5rem;
                left: 2rem;
                display: flex;
                align-items: center;

                &__rounded {
                    border-radius: 50%;
                    margin-right: 1rem;
                }

                &__title {
                    // LINK
                    color: #fff;
                    text-decoration: none;
                    font-size: 1.4rem;
                }
            }


        }
    }
}



.dropdown-button {
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    text-align: left;

    &__list {
        flex-direction: column;
        position: absolute;
        right: -2rem;
        display: none;
        margin-top: 3.5rem;
        font-size: 1.5rem;


        a {
            line-height: 2.8rem;
            color: #fff;
            padding: 0;
        }

    }


    &__content {
        padding: 2rem;
        background-color: #000;
        min-width: 18rem;
        z-index: 999;
        border: 1px solid #222;
        border-radius: 4px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 1.8rem;
            width: 0;
            height: 0;
            border: 13px solid transparent;
            border-bottom-color: #000;
            border-top: 0;
            margin-left: -13px;
            margin-top: -13px;
        }
    }
}




.dropdown-button.open .dropdown-button__list {
    display: flex;
}