@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem; }

li {
  list-style: none; }

a {
  text-decoration: none; }

div[class$="wrapper"] {
  max-width: 1170px;
  margin: auto;
  line-height: 0;
  -webkit-column-count: 5;
  /* split it into 5 columns */
  -webkit-column-gap: 4px;
  /* give it a 5px gap between columns */
  -moz-column-count: 5;
  -moz-column-gap: 4px;
  column-count: 5;
  column-gap: 6px; }
  @media (max-width: 1200px) {
    div[class$="wrapper"] {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4; } }

.button-light {
  border: 1px solid #eee;
  background: #fff;
  padding: 1.2em !important;
  display: inline-block;
  margin-right: 1.5rem;
  border-radius: .5rem; }

.photohub-input:focus {
  outline: none;
  background: #eee; }

.img-responsive {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  /* to match column gap */ }

.navigation {
  background-color: #fff; }
  .navigation__enter {
    display: flex;
    flex: 0 0 40%;
    align-items: center; }
    .navigation__enter--logo {
      margin-right: 4.5rem; }
  .navigation__menu li {
    display: inline-block;
    padding: 0 1.35rem;
    list-style: none; }
    .navigation__menu li a {
      text-decoration: none; }
  .navigation__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.4rem; }
  .navigation__search {
    margin-right: 3rem;
    flex: 1; }
    .navigation__search input {
      width: 100%;
      border: 1px solid #d1d1d1;
      background: #eee;
      padding: 1em 2em;
      border-radius: 8rem; }
  .navigation__user-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    width: 100%; }
    .navigation__user-options a {
      text-decoration: none;
      padding: 0 1.5rem; }
    .navigation__user-options i {
      font-size: 2rem;
      color: goldenrod; }
  .navigation a {
    color: #767676; }

.output-card__inner {
  background-color: #fff;
  min-width: 18rem;
  z-index: 999;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 3rem 1.5rem;
  position: absolute;
  left: 63%;
  transform: translateX(-63%);
  right: 3rem;
  max-width: 494px; }

.output-card .search-results {
  display: block;
  line-height: 2.5rem; }

.showcase-banner {
  position: relative;
  height: 75vh;
  background-size: cover !important; }
  .showcase-banner__cite {
    position: absolute;
    bottom: 1.5rem;
    left: 11.5%; }
    .showcase-banner__cite a {
      color: #fff; }

.topics {
  padding: 2.5rem 3em;
  text-align: center;
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07); }
  .topics li {
    display: inline-block;
    padding: 0 2rem; }
  .topics a {
    color: #767676; }

.photohub-content {
  padding: 6rem 0; }
  .photohub-content__image {
    position: relative; }
    .photohub-content__image figcaption .cite {
      position: absolute;
      bottom: 3.5rem;
      left: 2rem;
      display: flex;
      align-items: center; }
      .photohub-content__image figcaption .cite__rounded {
        border-radius: 50%;
        margin-right: 1rem; }
      .photohub-content__image figcaption .cite__title {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem; }

.dropdown-button {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  text-align: left; }
  .dropdown-button__list {
    flex-direction: column;
    position: absolute;
    right: -2rem;
    display: none;
    margin-top: 3.5rem;
    font-size: 1.5rem; }
    .dropdown-button__list a {
      line-height: 2.8rem;
      color: #fff;
      padding: 0; }
  .dropdown-button__content {
    padding: 2rem;
    background-color: #000;
    min-width: 18rem;
    z-index: 999;
    border: 1px solid #222;
    border-radius: 4px;
    position: relative; }
    .dropdown-button__content::after {
      content: '';
      position: absolute;
      top: 0;
      right: 1.8rem;
      width: 0;
      height: 0;
      border: 13px solid transparent;
      border-bottom-color: #000;
      border-top: 0;
      margin-left: -13px;
      margin-top: -13px; }

.dropdown-button.open .dropdown-button__list {
  display: flex; }

#load-more {
  display: flex;
  background: transparent;
  justify-content: center;
  font-size: 8rem; }
  #load-more .loader {
    display: inline-block;
    font-size: 0px;
    padding: 0px; }
    #load-more .loader span {
      vertical-align: middle;
      border-radius: 100%;
      display: inline-block;
      width: 1.325rem;
      height: 1.325rem;
      margin: 3px 2px;
      -webkit-animation: loader1 0.8s linear infinite alternate;
      animation: loader1 0.8s linear infinite alternate; }
      #load-more .loader span:nth-child(1) {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
        background: rgba(245, 103, 115, 0.6); }
      #load-more .loader span:nth-child(2) {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
        background: rgba(245, 103, 115, 0.8); }
      #load-more .loader span:nth-child(3) {
        -webkit-animation-delay: -0.26666s;
        animation-delay: -0.26666s;
        background: #f56773; }
      #load-more .loader span:nth-child(4) {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
        background: rgba(245, 103, 115, 0.8); }
      #load-more .loader span:nth-child(5) {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
        background: rgba(245, 103, 115, 0.4); }

@keyframes loader1 {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }

@-webkit-keyframes loader1 {
  from {
    -webkit-transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1); } }
